@model int

<div class="newly-shared-trip col s4">
    <a href="/trip/tripdetails/@Model">
        <div class="trip-avatar-container">
            <img src="~/Content/sample-avatar.png" alt="Alternate Text" class="avatar" />
        </div>
        <div class="trip-info">
            <div class="primary">
                <div class="origin">Ot Pazardjik</div>
                <div class="destination">Do Plovdiv</div>
                <div class="trip-price">$5</div>
            </div>
            <div class="secondary">
                <span class="date" title="Дата на погегляне"><i class="material-icons">today</i> 23.03.2017</span>
                <span class="time" title="Час на потегляне"><i class="material-icons">query_builder</i> 18:00</span>
                <span class="seats" title="Места">
                    <i class="material-icons">perm_identity</i> 0/5
                </span>
            </div>
        </div>
    </a>
</div>
