@model IEnumerable<Test.Web.Models.PostViewModel>
@using Test.Controllers

@foreach (var comment in Model)
{
    <li>
        <span>Author: @comment.UserName</span>
        <span>Content: @comment.Content</span>
        <span>Created on: @comment.CreatedOn</span>
    </li>
}
<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    @for (int i = 0; i < 10; i++)
    {
        <li class="active">
            @Ajax.ActionLink((i + 1).ToString(), nameof(HomeController.LoadComments), new { page = i }, new AjaxOptions
       {
           UpdateTargetId = "results",
           InsertionMode = InsertionMode.Replace
       })
        </li>

    }
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>
