<div id="home-picture-container">
    <div class="row">
        <div class="center-align">
            <h1>BrumWithMe</h1>
            <h4>Порталът за споделено пътуване, който предлага повече</h4>
            <a href="#" class="btn">Как работи</a>
            <form class="quick-travel-search">
                <input type="text" name="name" value="" class="quick-travel-search-input" placeholder="От" />
                <input type="text" name="name" value="" class="quick-travel-search-input" placeholder="До" />
                <input type="submit" value="Find" class="btn">
            </form>
        </div>
    </div>
</div>

<div class="container">
    <h4>Скоро споделени</h4>
    <div class="row">
        <div class="newly-shared-trip col s4">
            <a href="#">
                <div class="trip-avatar-container">
                    <img src="~/Content/sample-avatar.png" alt="Alternate Text" class="avatar" />
                </div>
                <div class="trip-info">
                    <div class="primary">
                        <div>Ot Pazardjik</div>
                        <div>Do Plovdiv</div>
                    </div>
                    <div class="secondary"></div>
                </div>
            </a>
        </div>

        <div class="newly-shared-trip col s4">
            <a href="#">
                <div class="trip-avatar-container">
                    <img src="~/Content/sample-avatar.png" alt="Alternate Text" class="avatar" />
                </div>
                <div class="trip-info">
                    <div class="primary">
                        <div>Ot Pazardjik</div>
                        <div>Do Plovdiv</div>
                    </div>
                    <div class="secondary"></div>
                </div>
            </a>
        </div>

        <div class="newly-shared-trip col s4">
            <a href="#">
                <div class="trip-avatar-container">
                    <img src="~/Content/sample-avatar.png" alt="Alternate Text" class="avatar" />
                </div>
                <div class="trip-info">
                    <div class="primary">
                        <div>Ot Pazardjik</div>
                        <div>Do Plovdiv</div>
                    </div>
                    <div class="secondary"></div>
                </div>
            </a>
        </div>

        <div class="newly-shared-trip col s4">
            <a href="#">
                <div class="trip-avatar-container">
                    <img src="~/Content/sample-avatar.png" alt="Alternate Text" class="avatar" />
                </div>
                <div class="trip-info">
                    <div class="primary">
                        <div>Ot Pazardjik</div>
                        <div>Do Plovdiv</div>
                    </div>
                    <div class="secondary"></div>
                </div>
            </a>
        </div>

        <div class="newly-shared-trip col s4">
            <a href="#">
                <div class="trip-avatar-container">
                    <img src="~/Content/sample-avatar.png" alt="Alternate Text" class="avatar" />
                </div>
                <div class="trip-info">
                    <div class="primary">
                        <div>Ot Pazardjik</div>
                        <div>Do Plovdiv</div>
                    </div>
                    <div class="secondary"></div>
                </div>
            </a>
        </div>

        <div class="newly-shared-trip col s4">
            <a href="#">
                <div class="trip-avatar-container">
                    <img src="~/Content/sample-avatar.png" alt="Alternate Text" class="avatar" />
                </div>
                <div class="trip-info">
                    <div class="primary">
                        <div>Ot Pazardjik</div>
                        <div>Do Plovdiv</div>
                    </div>
                    <div class="secondary"></div>
                </div>
            </a>
        </div>
    </div>


</div>

