<div id="home-picture-container">
    <div class="row">
        <div class="center-align">
            <h1>BrumWithMe</h1>
            <h4>Порталът за споделено пътуване, който предлага повече</h4>
            <a href="#" class="btn">Как работи</a>
            <form class="quick-travel-search">
                <input type="text" name="name" value="" class="quick-travel-search-input" placeholder="От" />
                <input type="text" name="name" value="" class="quick-travel-search-input" placeholder="До" />
                <input type="submit" value="Find" class="btn">
            </form>
        </div>
    </div>
</div>

<div class="container">
    <h4>Скоро споделени</h4>
    <div>
        @Html.Action(nameof(TripController.RecentTrips), "Trip");
    </div>
</div>

